---
layout: default
---

<section id="projects">
  <header>
    <h1>Thing I've built</h1>
    <h3>Here you can find example of things that I have worked on</h3>
  </header>

  <hr />

  {% for project in site.data.projects %}
  <article>
    <h4>{{ project.name }}</h4>
    <p>{{ project.description }}</p>
    {% if project.github %}
    <p>
      GitHub: <a target="_blank" rel="noopener noreferrer" href="{{ project.github }}"> {{ project.github }}</a>
    </p>
    {% endif %} {% if project.website %}
    <p>
      Website: <a target="_blank" rel="noopener noreferrer" href="{{ project.website }}"> {{ project.website }}</a>
    </p>
    {% endif %}
  </article>

  <hr />

  {% endfor %}
</section>
