<header id="navigation">
  <figure id="main-avatar-figure">
    <img id="main-avatar" src="/assets/images/avatar.png" alt="avatar" width="225" height="225"/>
    <figcaption id="main-quote">This is how I look in real life</figcaption>
  </figure>
  <button class="menu-button">&#9776; Menu</button>
  <nav class="nav-bar">
    {% for item in site.data.navigation %}
    <a
      href="{{ item.url }}"
      class="{% if item.url == page.url %}active{% endif %}"
      >{{ item.title }}</a
    >
    {% endfor %}
  </nav>
  <script src="/assets/js/randomQuote.js"></script>
</header>
