@import url("https://fonts.googleapis.com/css?family=Bungee|Roboto+Slab");

html {
  // Global variables
  --background-color: white;
  --foreground-color: black;

  font-size: calc(1em + 0.25vw);
  font-family: "Roboto Slab", serif;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 8px 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee", cursive;
  margin-bottom: 0;
}

hr {
  border-color: var(--foreground-color);
  border-style: solid;
}

a {
  color: var(--foreground-color);
}

button {
  font-family: inherit;
  color: var(--background-color);
  background-color: var(--foreground-color);
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#page-wrapper {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2.25rem;
}

#main-footer {
  text-align: center;
  color: white;
  background-color: black;
  padding: 15px;
  margin-top: auto;
  border-top: var(--foreground-color) solid 2px;

  button {
    color: var(--foreground-color);
    background-color: var(--background-color);
    border: white solid 1px;
  }
}

a.link-to-post {
  color: inherit;
  text-decoration: none;

  h3 {
    margin: 0 auto;
  }
}

#dark-mode-button {
  margin-bottom: 10px;
}

@media screen and (min-width: 45em) {
  body {
    overflow: hidden;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 1fr;
    margin: 0;
  }

  #page-content {
    overflow-y: auto;
  }

  #main-footer {
    display: flex;
    justify-content: space-between;
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0;
  }

  #dark-mode-button {
    margin-bottom: 0;
  }
}
