@import url("https://fonts.googleapis.com/css?family=Bungee|Roboto+Slab");

html {
  font-size: calc(1em + 0.25vw);
  font-family: "Roboto Slab", serif;
  //   font-family: Arial, Helvetica Neue, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 8px 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee", cursive;
}

hr {
  border-color: black;
  border-style: solid;
}

#page-wrapper {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2.25rem;
}

#main-footer {
  text-align: right;
  color: white;
  background-color: black;
  padding: 15px;
  margin-top: auto;
}

a.link-to-post {
  color: inherit;
  text-decoration: none;

  h3 {
    margin: 0 auto;
  }
}

@media screen and (min-width: 45em) {
  body {
    overflow: hidden;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 1fr;
    margin: 0;
  }

  #page-content {
    overflow-y: auto;
  }

  #main-footer {
    grid-column: 1/3;
    grid-row: 2/3;
    height: 20px;
    line-height: 20px;
    margin: 0;
  }
}
